<header>
    <nav class="top-nav">
        <a class="top-nav-item" href="#">Home</a>
        <a class="top-nav-item" href="#">About</a>
        <a class="top-nav-item" href="#">Services</a>
        <a class="top-nav-item" href="#">Contact</a>
    </nav>
    
    <div class="top-feed">
        
        <div class="top-feed-item">
            <div class="top-feed-item-logo">
                <img src="assets/img/icon/rss.png" alt="rss"/>
            </div>
            <p class="top-feed-item-info">1221 Subcribers</p>
        </div>
        
          <div class="top-feed-item">
            <div class="top-feed-item-logo">
                <img src="assets/img/icon/twitter.png" alt="twitter"/>
            </div>
            <p class="top-feed-item-info">1221 Subcribers</p>
        </div>
        
          <div class="top-feed-item">
            <div class="top-feed-item-logo">
                <img src="assets/img/icon/hireme.png" alt="hireme"/>
            </div>
        </div>
    
    
    </div>
    
    
</header>